.header {
  height: 150px;
  width: 100%;
  font-family: "Libre Baskerville", serif;
}
.image-container {
  padding: 50px;
  margin: 0px 20px;
  background-color: white;
  border: 1px solid black;
  width: 90%;
}
.image-size {
    width: 632px;
    height: 800px;
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-body {
  font-size: 20px;
  width: 50%;
}
.quote {
  font-family: 'Satisfy', cursive;
  margin-top: 20px;
}
.quote > p {
  font-size: 24px;
  opacity: 0.6;
}
body {
  background-color: #748fb3; 
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 20px;
  font-weight: lighter;
}
h3 {
    font-size: 25px;
    text-decoration: underline;
}
p {
    font-size: 16px;
    font-weight: lighter;
    margin: 3px;
}
li {
  padding: 15px 0;
}
ul {
  padding: 0;
}
footer {
  margin: 50px;
  font-size: 20px;
}
